.DS_STORE
*.log
*.swp

.env*
!.env.example
node_modules
npm-debug.log

dist
dist_server
coverage

.vscode/
.idea/

webdriverio/**
storybook-static/**

.cache
.eslintcache

# irrelevant file types
*.db
*.eot
*.gif
*.ico
*.jison
*.jpg
*.mp4
*.pdf
*.png
*.sh
*.svg
*.ttf
*.txt
*.woff
*.woff2
.buildkite/hooks/environment
.buildkite/hooks/pre-command
.dockerignore
.editorConfig
.env
.env*
.eslintignore
.eslintrc.js 41ms
.github/*
.gitignore
.keep
.npmignore
.npmrc
.nvmrc
.prettierignore
.spelling
.versionrc
DOCKERFILE
README.md
